.estimate-view {
    display: flex;
    justify-content: space-around;
    width: 128px;

    &__button {
        align-self: flex-start;
        border-radius: 50%;
        height: 28px;
        width: 28px;
        font-size: 12px;
    }

    &__estimate {
        align-self: flex-end;
        min-width: 36px;
        text-align: center;
    }
}
