.user-list {
    display: flex;

    &__users {
        margin: 0 auto;
        border-spacing: 32px 8px;
    }

    &__name {
        text-align: left;
    }

    &__estimate {
        text-align: right;
    }
}
